{% extends "basic.html" %}
{% block content %}
    <div class="col-sm-15" style="height: 85%">
        <div class="ibox float-e-margins">
            <div class="">
                <form class="form-horizontal" action="/publish/addtag2/" method="post">
                    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">关闭</span>
                                    </button>
                                    <h4 class="modal-title">添加上线tag</h4>
                                </div>
                                <div class="modal-body">
                                   <div class="form-group">
                                        <label for="tagurl" class="col-sm-2 control-label">tag url</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="tagurl"
                                                   placeholder="git@192.168.1.199:soa/tob-resume-service.git" maxlength="128" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label for="curcid" class="col-sm-2 control-label">本次版本</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="branch"
                                                       placeholder="数字分支，例：20170706" maxlength="32">
                                            </div>
                                        </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                    <input type="hidden" name='genv' value="test"/>
                                    <input type="submit" class="btn btn-primary" value="保存"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="">
                <form class="form-horizontal" action="/publish/addmultitag/" method="post">
                    <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">关闭</span>
                                    </button>
                                    <h4 class="modal-title">添加tags</h4>
                                </div>
                                <div class="modal-body">
                                   <div class="form-group">
                                        <label for="feurl" class="col-sm-2 control-label">前端tag</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="feurl"
                                                   placeholder="git@192.168.1.199:web/interviewer-admin.git" maxlength="128" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label for="fecid" class="col-sm-2 control-label">前端tag版本</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="fetag"
                                                       placeholder="数字分支，例：20171102" maxlength="32">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="beurl" class="col-sm-2 control-label">后端tag</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="beurl"
                                                   placeholder="git@192.168.1.199:web/webank-employee.git" maxlength="128" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label for="becid" class="col-sm-2 control-label">后端tag版本</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="betag"
                                                       placeholder="数字分支，例：20171102" maxlength="32">
                                            </div>
                                     </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                    <input type="hidden" name='genv' value="test"/>
                                    <input type="submit" class="btn btn-primary" value="保存"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="">
                <form class="form-horizontal" action="/publish/addapp/" method="post">
                    <div class="modal inmodal" id="myModal3" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">关闭</span>
                                    </button>
                                    <h4 class="modal-title">添加app</h4>
                                </div>
                                <div class="modal-body">
                                   <div class="form-group">
                                        <label for="tagurl" class="col-sm-2 control-label">应用名称</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="appname"
                                                   placeholder="rabbitmq" maxlength="64" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label for="curcid" class="col-sm-2 control-label">本次版本</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="branch"
                                                       placeholder="版本号，例：v1" maxlength="32">
                                            </div>
                                        </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                    <input type="hidden" name='genv' value="test"/>
                                    <input type="hidden" name='protype' value="3"/>
                                    <input type="submit" class="btn btn-primary" value="保存"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <table class="table table-striped table-bordered table-hover " id="editable" style="text-align: center">
                <thead>
                <tr>
                    <th>项目</th>
                    <th>前端版本</th>
                    <th>后端版本</th>
                    <th>创建时间</th>
                    <th>环境</th>
                    <th colspan="2">编辑</th>
                </tr>
                </thead>
                <tbody>

                {% for data in datas %}
                    <tr>
                        <td>{{ data.pro_name }}</td>
                        <td>{{ data.fbranch }}</td>
                        <td>{{ data.bbranch }}</td>
                        <td>{{ data.created_at }}</td>
                        {% if data.tag_env == 1 %}
                            <td>测试环境</td>
                        {% elif data.tag_env == 2 %}
                            <td>生产环境</td>
                        {% else %}
                            <td>未知环境</td>
                        {% endif %}
                        <td><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></td>
                        <td><span sid="{{ data.pro_sign }}" class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                    </tr>
                {% endfor %}
            </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    添加独立项目
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                    添加综合项目
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">
                    添加应用
            </button>
            {% if err_msg[0] %}
                <font color="red"><h4>{{  err_msg[1] }}</h4></font>
            {% else %}
                <font color="green"><h4>{{  err_msg[1] }}</h4></font>
            {% endif %}
        </div>
    </div>
    </div>
<script type="text/javascript">
        $('tbody').on('click',function(e){
        if (e.target.className == 'glyphicon glyphicon-remove'){
	  layer.confirm('确定删除？', {
          btn: ['确定','取消'] //按钮
        }, function(){
          var murl='http://' + window.location.hostname+':9199/publish/api/delDocConf/';
          var sid=e.target.getAttribute("sid");
          $.ajax({ 
                type: "POST", 
                data: {'sign':sid},
                dataType: "JSON", 
                url: murl,
                success: function(results) {
                   if (results.stat == '1') {
          		layer.msg('删除成功', {icon: 1});
                         window.location.reload();
                   } else {
          		layer.msg('删除失败', {icon: 3});
                   }
                },
                error: function(XMLHttpRequest,textStatus,errorThrown){
                   alert('error.状态文本值：'+textStatus+" 异常信息："+errorThrown);
                }
            }
	  );
        }, function(){
          layer.msg('后悔了，不删除。', {
            time: 5000, //20s后自动关闭
            icon: 2,
          });
        });
      }})
</script>
{% endblock %}
