{% extends "basic.html" %}
{% block content %}
    <div class="col-sm-15" style="height: 85%">
        <div class="ibox float-e-margins">
                <table class="table table-striped table-bordered table-hover " id="editable" style="text-align: center">
                    <thead align="center">
                    <tr>
                        <th>项目</th>
                        <th>项目类型</th>
                        <th>前端版本</th>
                        <th>后端版本</th>
                        <th>创建时间</th>
                        <th>构建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in datas %}
                        <form id="j-tag-form-{{ data.pro_sign }}">
                        <tr>
                            <td>{{ data.pro_name }}</td>
                            {% if data.pro_type ==1 %}
                               <td>独立项目</td>
                               <td >{{ data.fe_branch }}</td>
                               <td>{{ data.be_branch }}</td>
                            {% elif data.pro_type ==3 %}
                               <td>APP项目</td>
                               <td >{{ data.fe_branch }}</td>
                               <td>{{ data.be_branch }}</td>
                            {% else %}
                               <td>综合项目</td>
                               <td>{{ data.fe_branch }}</td>
                               <td>{{ data.be_branch }}</td>
                            {% endif %}
                            <td>{{ data.created_at }}</td>
                    	    <td id="ctime{{ data.id }}">{{ data.build_at }}</td>
                            <td><span data-id ="{{data.pro_sign}}" onclick="build(event)" class="btn btn-primary "><i class="fa fa-check"></i>构建</span> </td>
                        <input type="hidden" name="tagsign" value="{{ data.pro_sign }}">
                        <input type="hidden" name="proname" value="{{ data.pro_name }}">
                        <input type="hidden" name="febranch" value="{{ data.fe_branch }}">
                        <input type="hidden" name="bebranch" value="{{ data.be_branch }}">
                        <input type="hidden" name="protype" value="{{ data.pro_type }}">
                     </form>
                    {% endfor %}
                </table>
                <div>
                {% if curPage != 1 and curPage >= 2 %}
                    <a href="?curPage={{ curPage }}&&pageType=pageUp">上一页</a>
                {% endif %}
                {% if totalPage >= curPage+5 %}
                    {% for page in range(curPage,5)%}
                        <a href="?curPage={{ page }}">{{ page }}</a>
                    {% endfor %}
                {% elif totalPage > 5 %}
                    {% for page in range(totalPage-5,totalPage+1)%}
                        <a href="?curPage={{ page }}">{{ page }}</a>
                    {% endfor %}
                {% else %}
		    {% for page in range(1,totalPage+1)%}
                        <a href="?curPage={{ page }}">{{ page }}</a>
                    {% endfor %}
                {% endif %}
                {% if curPage != totalPage %}
                   <a href="?curPage={{ curPage }}&&pageType=pageDown">下一页</a>
                {% endif %}
                </div>

	    <div id='buildinfo'></div>
            {% if err_msg[0] %}
                <font color="red"><h4>{{ err_msg[1] }}</h4></font>
            {% else  %}
                <font color="green"><h4>{{ err_msg[1] }}</h4></font>
            {% endif %}
        </div>
    </div>
    </div>
    <script type="text/javascript">
        function build(e) {
	    var event = e ;
		var murl='http://' + window.location.hostname+':8080/publish/api/buildimg/';
		var id = event.target.getAttribute("data-id");
	    var datas=$('#j-tag-form-' + id).serializeArray();
		console.log(datas);
	    var genv=$.trim(datas[0]["value"]);
	    var time=new Date();
	    var curtime=time.getFullYear() + "-" + time.getMonth() + "-" + time.getDate() + " " + time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds();
    	    $.ajax({ 
                type: "POST", 
                data: datas,
                dataType: "JSON", 
                url: murl,
		beforeSend: function(XMLHttpRequest){
		    $('#buildinfo').html('<font color="green">正在构建......,</font><br><font color="green">程序员哥哥正在努力搬砖....</font>');
		},
                success: function(results) {
					event.target.setAttribute("data-id",results.id);
                   if (results.stat == '1') {
                           window.location.href='/publish/pushdocker/?id=' + id + '&tenv=default';
                   } else {
			   $('#buildinfo').html('<font color="red">构建失败。拖出去搬砖！！</font>');
                   }
                },
		error: function(XMLHttpRequest,textStatus,errorThrown){
		   alert('error.状态文本值：'+textStatus+" 异常信息："+errorThrown);
		}
            });
        }
    </script>
{% endblock %}
