{% extends "basic.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="height:80%;">
                <div>
                    <h3 class="font-bold no-margins">
                    Dear：
                    </h3>
                </div>
                <div style="margin-top:1cm">
                    <p>Welcome to the system of publishing code of  Echeng.Maybe it looks like ugly,or sometimes it may not work.In the process of using it, if you find some probles,please forgive me and contact me at once, I will fix it soon.
                </div>
                <div class="m-t-md">
                    <small>
                    <strong>说明：</strong>如有问题，请及时联系我（善军）哦。
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
